    <div id="error">

    </div>
    <form name="newPokemon" novalidate>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required>
            <label for="type">Type:</label>
            <input type="text" name="type" id="type" required>
            <label for="image">Image:</label>
            <input type="file" id="image" name="image" accept="image/*" required>
            <button id="newPokemon-submit">Ajouter</button>
    </form>
<script src="../src/core/Pokemon.js"></script>
