<div class="container text-center">
            <h1>Pokédex</h1>
            <hr>
            <div id="error">

                </div>
            <form name="addTeam">
                <label for="name"></label>
                <input type="text" id="name" name="name" placeholder="name">
                       <div id="pokemons-loading">Loading ...</div>
            <div id="pokemons" class="row"></div>
            <button class="btn btn-primary">Créer ma team</button>
        </form>
    </div>

<script src="../src/core/team.js"></script>
<script src="../src/core/app.js"></script>
