<div class="container text-center">
  <h1 class="">Créer ma team</h1>
  <div id="error">

  </div>
   <div class="row">
    <div class="col s4 offset-s4">
      <label for="teamName"></label>
      <input type="text" id="teamName" name="teamName" placeholder="Name of the team">
    </div>
  </div>
  <div>
    <div id="pokemons-loading">Loading ...</div>
    <div id="pokemons-content" class="row"></div>
    <div class="pokemons-add-bottom">
      <div class="container">
       <button id="teamFormSubmit" class="btn btn-primary">Créer ma team</button>   
     </div>
   </div>
 </div>
</div>

<script src="../src/core/team.js"></script>
<script src="../src/core/app.js"></script>