.pokemons-add-bottom{
	position: fixed;
	bottom: 0;
	width: 100%;
	left:0;
	background-color: #FAFAFA;
    padding: 15px;
}

.pokemons-add-bottom .container{
	    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

#teams .item ul{
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#teams .item{
    padding: 15px;
}

#teams .item h4{
	margin: 0;
    padding: 5px 0;
}

#teams .item hr{
	 display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 1em 0;
    padding: 0; 
}

.card-pokemon-container{
	    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-details{
	padding-top: 30px;
}

.card .card-image .card-title{
	padding: 0px 0px 0px 20px;
}